<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="ml-5">注文情報入力</h4>
            <%= form_with model: @order, url: orders_confirmation_path do |f| %>
            <div>
                <h4 class="mt-5">支払方法</h4>
                <div class="h5">
                    <%= f.radio_button :payment, Order.payments.key(0),  checked: "checked" %>
                    <%= f.label :payment_credit_card, Order.payments_i18n[:credit_card] %>
                     <br>
                    <%= f.radio_button :payment, Order.payments.key(1) %>
                    <%= f.label :payment_transfer, Order.payments_i18n[:transfer]%>
                </div>
            </div>
            <div>
               <h4 class="mt-3">お届け先</h4>
               <div class="h5">
                   
                   <%= f.radio_button :my_address,1, checked: "checked" %>
                   <%= f.label :address, "ご自身の住所" %>
                   <%= "〒#{current_customer.postal_code} #{current_customer.address}" %><br>
                   <%= "#{current_customer.last_name} #{current_customer.first_name}" %>
                   
               </div>
               <div class="h5">
                   <%= f.radio_button :my_address,2 %>
                   <%= f.label :address, "選択済みの住所から選択" %>
                   <p class="ml-3 form-select"><%= f.select :address_id, options_from_collection_for_select(@addresses, :id, :address_display) %></p>
               </div>
               <div class="h5">
                   <%= f.radio_button :my_address,3 %>
                   <%= f.label :address, "新しいお届け先" %>
                   <div class="row mb-3">
                     <div class="col-11 mb-3">
                      <div class="row">
                        <div class="col-4 col-form-label">郵便番号（ハイフンなし）</div>
                        <div class="col-3 ">
                          <%= f.telephone_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "form-control"%>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-11 mb-3">
                      <div class="row">
                        <div class="col-4 col-form-label">住所</div>
                        <div class="col-7 ">
                          <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control"%>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-11 mb-3">
                      <div class="row">
                        <div class="col-4 col-form-label">宛先</div>
                        <div class="col-3 ">
                          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control"%>
                        </div>
                      </div>
                    </div>
               </div>
            </div>
            <div class="row justify-content-center mb-5">
            <%= f.submit "確認画面へ進む", class: "btn btn-primary col-3" %>
          </div>
          <% end %>
        </div>
    </div>
</div>