<div class="container">
      <div class="row">
        
          <h4 class="mb-5 text-color col-3 text-center pt-4 rounded-pill">
            商品一覧(全<%= @items.count %>件)
          </h4>
        
        
      </div>
    
    
  <div class="row g-4">
    <%= render 'genre',genres: @genres %>
    <div class="col-10">
        <div class="row">
             <% @items.each do |item| %>
              <div class="card-group">
                <div class="card  mb-3 ml-2 mr-2">
                 <%= link_to  item_path(item.id) do %>
                   <%= image_tag item.get_image(200,200) %>
                 <% end %>
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= item.name %>
                    </h5>
                    <p class="card-text">
                      ¥ <%= item.add_tax_price.to_s(:delimited) %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
      </div>
  </div>
</div>
</div>